<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iam.shopping.mapper.MemberMapper">

    <select id="selectMember" resultType="com.iam.shopping.domain.Member">
        select id
             , pass
             , name
             , phone
        from   member
        order by reg_date asc
    </select>

    <insert id="insertMember" parameterType="Map">
        insert into member ( id
                           , pass
                           , name
                           , phone
                           , reg_date)
        value ( #{id}
              , #{pass}
              , #{name}
              , #{phone}
              , now())
    </insert>

    <delete id="deleteMember" parameterType="Map">
        delete from member
        where  id = #{id}
    </delete>

</mapper>
